.container{
    width: 45% ;
}

.col{
    text-align: center;
}

.btn, .btn:focus, btn:active, btn:visited{
    color: #fff;
    background-color: #7b1fa2;

}

.btn:hover{
    background-color: #8e24aa;

}

.card-panel {
    margin: 10px 100px;!important;
}

html{
    background-color: #f3e5f5;
}


header{
    margin-top:-20px;
    width:100%;
    background-color: #ce93d8;
    padding: 20px;
}

.centercol{
    background-color: #e1bee7  ;
    padding: 30px;
}